<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="description" content="Sistema SAR">
    <meta name="keywords" content="HTML,CSS,JQUERY,JavaScript,EXPRESS">
    <meta name="author" content="Nycolas Silva Fróes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SAR - PAINEL CONTROLES</title>

    <link href="css/dashboard.css" type="text/css" rel="stylesheet">
    <link href="css/forms.css" type="text/css" rel="stylesheet">
    <link href="css/select.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kanit|Source+z+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="packs/Highlight/styles/monokai.css">
    <link rel="stylesheet" href="packs/CodeEditor/lib/codemirror.css">
    <link rel="stylesheet" href="packs/CodeEditor/theme/monokai.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="packs/Highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="packs/CodeEditor/lib/codemirror.js"></script>
    <script src="packs/CodeEditor/addon/selection/active-line.js"></script>
    <script src="packs/CodeEditor/addon/edit/matchbrackets.js"></script>
    <script src="packs/CodeEditor/mode/javascript/javascript.js"></script>

  </head>
  <body>
<!-- header -->
    <header>
      <div class="container-header">
        <div class="title-header">
          <p class="logo-header">logo</p>
          <h1>SAR - PAINEL CONTROLES </h1>
        </div>
        <div class="config">
          <img src="img/icons/config.svg" class="btn-config" alt="configurações"></img>
          <%  if(user[0].nome_aluno){  %>
            <a href="/sair_grupo">
              <img src="img/icons/exit.svg" class="btn-sair" alt="sair"></img>
            </a>
          <% } else { %>
            <a href="#modalSair" rel="modal:open">
              <img src="img/icons/exit.svg" class="btn-sair" alt="sair"></img>
            </a>
          <% } %>
        </div>
      </div>
    </header>
<!-- </header> <nav>  -->
    <nav>
      <ul class="list-nav">
        <a id="btn-manual" class="elements-nav manual">
          <img src="img/icons/manual.svg" alt="Manual SAR">
          <span class="legend l-manual">Manual</span>
        </a>

        <%  if(user[0].tipo_aluno == 'Líder') {  %>
          <a id="btn-add_estudante"  class="elements-nav add-estudantes">
            <img src="img/icons/add-estudante.svg" alt="Cadastrar Estudante">
            <span class="legend l-add-estudantes">Cadastrar Estudante</span>
          </a>
          <a id="btn-salas_terminal" class="elements-nav salas-terminal">
            <img src="img/icons/code.svg" alt="Terminal e Salas">
            <span class="legend l-salas-terminal">Grupos e Terminal</span>
          </a>
        <% } else if(user[0].nome_professor) { %>
          <a id="btn-add_ver_estudantes"  class="elements-nav ver-estudantes">
            <img src="img/icons/ver_estudantes.svg" alt="Ver Estudantes">
            <span class="legend l-ver-estudantes">Ver Estudantes</span>
          </a>
          <a id="btn-add_classrom"  class="elements-nav add_classrom">
            <img  src="img/icons/add-classrom.svg" alt="adicionar Sala">
            <span class="legend l-add-salas">Cadastrar Salas e Grupos</span>
          </a>
          <a id="btn-salas_terminal" class="elements-nav salas-terminal">
            <img src="img/icons/code.svg" alt="Terminal e Salas">
            <span class="legend l-salas-terminal">Grupos e Terminal</span>
          </a>
        <% } else { %>
          <a id="btn-salas_terminal-treineiro" class="elements-nav salas-terminal">
            <img src="img/icons/code.svg" alt="Terminal e Salas">
            <span class="legend l-salas-terminal">Terminal</span>
          </a>
        <% } %>
      </ul>
      <!-- DE salasTerminal -->
      <% if(!user[0].nome_treineiro) { %>
      <div class="icon-contatos mobile">
        <img src="img/icons/contatos.svg" alt="">
      </div>
      <div class="container-contatos">
        <h1>CONECTADOS</h1>
        <% if(othersInfos) { %>
            <% for(let i = 0; i < othersInfos.length; i++) { %>
              <% if(othersInfos[i].status_aluno == 'on') { %>
                <div class="contatos">
                  <span class="status <%= othersInfos[i].status_aluno %>"></span>
                  <img src="<%= othersInfos[i].ft_perfil %>" alt="ft-perfil">
                  <p><%= othersInfos[i].nome_aluno %></p>
                </div>
              <% }else{ %>
                <div class="contatos contatos_hide">
                  <span class="status <%= othersInfos[i].status_aluno %>"></span>
                  <img src="<%= othersInfos[i].ft_perfil %>" alt="ft-perfil">
                  <p><%= othersInfos[i].nome_aluno %></p>
                </div>
            <% } } %>
        <% }else{ %>
          <div class="others-infos">
            <p>Não tem alunos online</p>
          </div>
          <% } %>

        <div class="btn-verAll">
          <button type="button" onclick="verAll()">VER OF</button>
        </div>
        <script type="text/javascript">
            $('.contatos_hide').hide();
            function verAll(){
              $('.contatos_hide').animate({
                height: 'show'
              });
            }
        </script>
      </div>
      <% } %>
    </nav>
<!-- </nav> <main>  -->
    <main>
      <!-- section-1 - MANUAL -->
      <div id="manual1" class="risco"></div>
      <section id="manual" class="container-1">
          <div class="introducao">
            <h1>Manual</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
            <ul>
              <li class="download_apostila"><a href="#" download="manual-SAR">Apostila</a></li>
            </ul>
          </div>
          <div class="exemplo">
            <h1>Exemplo de execução</h1>
            <div class="vincular">
              <h2>1 - Vincule seu aparelho com robô</h2>
              <pre>
                <code class="">
                  const connection = 192.168.25.204;
                </code>
              </pre>
            </div>
            <div class="executar">
              <h2>2 - Execute seus códigos</h2>
              <pre>
                <code class="jsvascript">
                  const connection = 192.168.0.0;

                  var robo = new Robo(connection);
                  robo.move(x);
                </code>
              </pre>
            </div>
          </div>
      </section>
      <!-- section-2 - SALA E TERMINAL -->
      <section id="salasTerminal" class="container-2 invisivel">
        <% if(!user[0].nome_treineiro) {  %>
          <div class="content C-salas">
            <div id="salas-title" class="info-inicial-salas">
              <h1>Salas</h1>
              <p id="btn-testar" style="cursor: pointer">TESTAR APENAS</p>
            </div>
            <div id="salas" class="container-salas">
            <% if(othersInfos[0] != undefined) { %>
              <% for(let i = 0; i < othersInfos.length; i++ ) { %>
                <div class="salas" onclick="criarCode()">
                  <div class="content-salas-1">
                    <h2><%= othersInfos[i].nome_grupo %></h2>
                    <p><%= othersInfos[i].nome_sala %></p>
                  </div>
                  <p class="content-salas-2">QTD: <%= othersInfos[i].qtd_alunos %></p>
                </div>
              <% } %>
            <% } else {  %>
              <div class="others-infos_salas">
                <p><strong>Caro(a) <%= user[0].nome_professor %><%= user[0].nome_aluno %></strong>, não tem registros de seus grupos.</p>
              </div>
            <% } %>
            </div>
          </div>
            <div id="terminal-CodeEditor" class="content C-terminal invisivel">
                <!--CODE EDITOR - REFERENCES CODEMIRROR-->
                <div id="container-code" class="Code-editor">
                  <div class="titles-section">
                    <h1>Execute seus Códigos:</h1>
                    <i id="btn-voltar_salas" class="material-icons">navigate_before</i>
                  </div>
                  <div id="codeeditor"></div>
                </div>
              </div>
        <% }else{  %>
          <div id="terminal-CodeEditor" class="content C-terminal">
            <!--CODE EDITOR - REFERENCES CODEMIRROR-->
            <div id="container-code" class="Code-editor">
              <h1>Execute seus Códigos:</h1>
              <div id="codeeditor"></div>
            </div>
          </div>
        <% } %>
      </section>
      <% if(user[0].id_professor) {%>
      <!-- section - VER ESTUDANTES -->
      <section id="ver_estudantes" class="invisivel">
        <div class="container-ver_estudantes ">
          <div class="search">
            <input id="search" type="search" class="search-box" placeholder="Pesquisar estudante" onkeyup="filter(this)"  />
            <span class="search-button">
              <span class="search-icon"></span>
            </span>
            <span class="qtd_alunos"></span>
          </div>
          <ul id="contact" class="contact">

            <% if(othersInfos) { %>
              <% for( let i = 0; i < othersInfos.length; i++ ) { %>
              <li id="<%= othersInfos[i].id_aluno %>-nome" onclick="showInfos(this)">
                <div class="contact-view" >
                  <div class="img-contact" style="background-image: url('<%= othersInfos[i].ft_perfil %>')"></div>
                  <div class="contact-discription">
                    <div id="nome_contato" class="name"><a><%= othersInfos[i].nome_aluno %></a></div>
                    <div class="others-infos"><%= othersInfos[i].nome_professor %></div>
                  </div>
                </div>
                  <div id="extras-infos<%= othersInfos[i].id_aluno %>" class="extras-infos invisivel">
                      <div class="others-infos others-infos-extras">
                        <p><strong>Sala:</strong> <%= othersInfos[i].nome_sala %> </p>
                        <p><strong>Grupo:</strong> <%= othersInfos[i].nome_grupo %> </p>
                        <p><strong>Email:</strong>  <%= othersInfos[i].email_aluno %> </p>
                        <p><strong>Status:</strong>  <%= othersInfos[i].status_aluno %>
                        </p>
                      </div>
                  </div>
              </li>
              <% } %>
             <% } else { %>
               <div class="others-infos">
                 <p><strong>Caro(a) <%= othersInfos[i].nome_professor %></strong>, cadastre seus alunos.</p>
               </div>
              <% } %>
          </ul>
        </div>
      </section>
      <% } %>
      <% if(user[0].tipo_aluno == 'Líder') { %>
      <!-- section - ADD ESTUDANTE -->
        <section id="CadastrarEstudante" class="container-modal invisivel">
            <div class="container-forms">
              <form class="container-cadastrar" action="/lider/cadastro/aluno" method="post">
                <div class="titles-section">
                  <h1>Cadastrar Estudante</h1>
                </div>
                  <div class="input-container">
                    <label for="nome_aluno">Nome da Estudante</label>
                    <input type="text" name="nome_aluno" placeholder="Digite o nome do Estudante"  >
                  </div>
                  <div class="input-container">
                    <label for="email_aluno">Email</label>
                    <input type="email" name="email_aluno" placeholder="Digite o email do aluno"  >
                  </div>
                  <div class="input-container">
                    <div id="type_user" class="select-tipo-usuario">
                      <div class="titles-section">
                        <h2>Categoria de Estudante</h2>
                      </div>
                      <div class="input-container select_categoria" >
                        <select id="cusSelectbox" class="select-alunos" name="categoria_alunos" required>
                          <option selected disabled>Selecione uma para o Categoria</option>
                          <option value="Montador">Montador</option>
                          <option value="Programador">Programador</option>
                          <option value="Mecânico">Mecânico</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="container-buttons">
                    <button class="submit-enviar" type="submit" name="cadastrar_aluno">Cadastrar</button>
                  </div>
              </form>
             </div>
          </section>
          <% }else if(user[0].id_professor) { %>
            <!-- CADASTRAR SALAS E GRUPOS LÍDES -->
            <section id="cadastrar_sala_grupos" class="invisivel">
              <form id="form_Csala" class="container-forms salas-form">
                <div class="titles-section" >
                  <legend>Cadastrar Sala</legend>
                </div>
                <div class="input-container">
                  <label for="nome_sala">Nome da Sala</label>
                  <input id="nome_sala" type="text" maxlength="8" placeholder="Digite o Nome da sala, com até 8 caracteres" >
                </div>
                <p id="confirm_cadastro" class="invisivel">CLICK MAIS UMA VEZ NO BOTÃO ABAIXO PARA CONFIRMAR!</p>
                <div class="container-buttons">
                  <button id="btn-cadastrar_sala" type="button" class="submit-enviar">Cadastrar Sala</button>
                  <div id="btn-cadastrar_grupo" class="button-cadastrar_grupo">
                    <p>Cadastrar apenas grupo? <strong>Clique Aqui!</strong></p>
                  </div>
                </div>
              </form>
              <div id="forms_Cgrupos" class="invisivel">
                <form class="container-forms grupos-form" action="/professor/cadastro/grupo" method="post">
                  <div class="titles-section">
                    <h1>Informações do Grupo</h1>
                    <i id="btn-voltar_Csalas" class="material-icons">navigate_before</i>
                  </div><div class="input-container">
                    <label for="nome_grupo">Nome do Grupo</label>
                    <input type="text" name="nome_grupo" maxlength="8" placeholder="Digite o nome do grupo, com até 8 caracteres">
                  </div>
                <div class="titles-section">
                  <h1>Informações do Aluno Líder</h1>
                </div>
                <div class="flex-row">
                  <div class="input-container">
                    <label for="nome_aluno">Nome do Estudante</label>
                    <input type="text" name="nome_aluno" placeholder="Digite o nome do estudante">
                  </div>
                  <div class="input-container">
                    <label for="email_aluno">Email do Estudante</label>
                    <input type="email" name="email_aluno" placeholder="Digite o email do estudante">
                  </div>
                </div>
                <div class="input-container select_sala">
                  <select id="cusSelectbox" class="select-style" name="select_sala" required>
                    <option selected disabled>Selecione a sala</option>
                    <% if(othersInfos) { %>
                      <% for(let i = 0; i < othersInfos.length; i++) { %>
                        <option value="<%= othersInfos[i].nome_sala%>"><%= othersInfos[i].nome_sala%></option>
                        <% } %>
                  <% } else { %>
                    <option value="sem registros" disabled>sem registros</option>
                  <% } %>
                  </select>
                </div>
                <button type="submit" class="submit-enviar" name="cadastrar_grupo">Cadastrar</button>
              </form>
            </div>
          </section>
        <% } %>
      <!-- section - infors Editaveis -->
      <section id="config" class="invisivel">
        <h1 class="title-config">Configurações Pessoais</h1>
        <div class="flex-config">
          <div class="editar-usuario">
            <% if(user[0].nome_professor) { %>
              <div class="ft-perfil preview">
                <img  src="<%= user[0].ft_professor %>"></img>
              </div>
              <form action="/upload/fotoPerfil/professor" method="post" enctype="multipart/form-data">
            <% } else if(user[0].nome_aluno) { %>
              <div class="ft-perfil preview">
                <img  src="<%= user[0].ft_perfil %>"></img>
              </div>
              <form action="/upload/fotoPerfil/aluno" method="post" enctype="multipart/form-data">
            <% } else { %>
              <div class="ft-perfil preview">
                <img  src="<%= user[0].ft_treineiro %>"></img>
              </div>
              <form action="/upload/fotoPerfil/treineiro" method="post" enctype="multipart/form-data">
            <% } %>
               <div class="input-container">
                 <div id="dropzone">
                   <h1>Arraste sua imagem aqui ou Clique</h1>
                   <input type="file" accept="image/* " name="fotoPerfil"/>
                 </div>
               </div>
               <button type="submit" name="eviar" class="submit-enviar">Enviar Foto</button>
             </form>
          </div>
          <div class="editar-infors">
            <form action="/editar/informacoes" method="post">
              <div class="titles-section" >
                <legend>Editar</legend>
              </div>
              <div class="input-container">
                <label for="nome">Nome</label>
                <input type="text" name="nome" placeholder="Digite seu nome, para alterar" required>
              </div>
              <div class="input-container">
                <label for="nome">Email</label>
                <input type="email" name="email" placeholder="Digite seu email, para alterar" required>
              </div>
              <div class="input-container">
                <label for="Senha">Senha</label>
                <input type="password" name="senha" maxlength="8" placeholder="Digite o Nome da sala, com até 8 caracteres" required>
              </div>
              <button type="submit" class="submit-enviar btn-editar" name="cadastrar_sala">Editar</button>
            </form>
          </div>
        </div>
      </section>

    </main>
    <!-- ALERTS -->
    <div id="modalSair" class="alert alert_sair modal " >
      <h1>Ei! Já vai sair?</h1>
      <div class="content-buttons">
        <a class="btn-sair_alert" href="/sair">VOU SAIR!</a>
        <a class="btn-nao_alert" href="#" rel="modal:close">VOU FICA MAIS</a>
      </div>
   </div>
    <div id="modalAlert" class="alert invisivel" >
      <span id="alert-close" onclick="fechar(this.id, 'modalAlert')">X</span>
     <h1 id="title_alert"></h1>
     <p id="msg_alert"></p>
   </div>
    <%if(validacao) {%>
        <% for(var i = 0; i <  validacao.length; i++) {%>
          <div id="modal<%=[i]%>" class="alert" style="background:<%= validacao[i].color_background %>;">
            <span id="alert-close<%=[i]%>" onclick="fechar(this.id, 'modal<%=[i]%>')">X</span>
           <h1><%= validacao[i].titulo %></h1>
           <p ><%= validacao[i].msg %></p>
         </div>
         <%}%>
    <%}%>
    <footer>
      &copyNycolas Silva Fróes
    </footer>
    <!-- SCRIPTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script type="text/javascript" src="js/dropzone.js"></script>
    <script type="text/javascript" src="js/functions.js"></script>
    <script type="text/javascript" src="js/mask.js"></script>
    <script type="text/javascript" src="js/dashboard_acoes-menu.js"></script>
    <script type="text/javascript" src="js/dashboard_icons_menu.js"></script>
    <script type="text/javascript" src="js/codeeditor.js"></script>
    <script type="text/javascript" src="js/form_abrirCadastrogrupo.js"></script>
    <script type="text/javascript" src="js/selectOption.js"></script>
  </body>
</html>
