<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="description" content="SAR - Seu Amigo Robô">
    <meta name="keywords" content="HTML,CSS,JQUERY,JavaScript,EXPRESS,Robô,Raspberrypi">
    <meta name="author" content="Nycolas Silva Fróes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SAR - PAINEL CONTROLES</title>
    <link rel="shortcut icon" href="img/favicon.png" />

    <link href="css/normalize.css" type="text/css" rel="stylesheet">
    <link href="css/forms.css" type="text/css" rel="stylesheet">
    <link href="css/dashboard.css" type="text/css" rel="stylesheet">
    <link href="css/select.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kanit|Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

    <link rel="stylesheet" href="packs/Highlight/styles/monokai.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="packs/Highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

  </head>
  <body>
<!-- header -->
    <header>
      <div class="container-header">
        <div class="title-header">
          <img class="logo-header" src="img/logo_svg.svg" alt="Logo SAR"></img>
          <h1>SAR - PAINEL CONTROLES </h1>
        </div>
        <div class="config">
          <img src="img/icons/config.svg" class="btn-config" alt="configurações"></img>
          <%  if(user[0].nome_aluno){  %>
            <a href="/sair_grupo">
              <img src="img/icons/exit.svg" class="btn-sair" alt="sair"></img>
            </a>
          <% } else { %>
            <a href="#modalSair" rel="modal:open">
              <img src="img/icons/exit.svg" class="btn-sair" alt="sair"></img>
            </a>
          <% } %>
        </div>
      </div>
    </header>
<!-- </header> <nav>  -->
    <nav>
      <ul class="list-nav">
        <a id="btn-manual" class="elements-nav manual hover-btn">
          <img src="img/icons/manual.svg" alt="Manual SAR">
          <span class="legend l-manual">Manual</span>
        </a>

        <%  if(user[0].tipo_aluno == 'Líder') {  %>
          <a id="btn-add_estudante"  class="elements-nav add-estudantes hover-btn">
            <img src="img/icons/add-estudante.svg" alt="Cadastrar Estudante">
            <span class="legend l-add-estudantes">Cadastrar Estudante</span>
          </a>
          <a id="btn-salas_terminal" class="elements-nav salas-terminal hover-btn">
            <img src="img/icons/code.svg" alt="Terminal e Salas">
            <span class="legend l-salas-terminal">Grupos e Terminal</span>
          </a>
        <% } else if(user[0].nome_professor) { %>
          <a id="btn-add_ver_estudantes"  class="elements-nav ver-estudantes hover-btn">
            <img src="img/icons/ver_estudantes.svg" alt="Ver Estudantes">
            <span class="legend l-ver-estudantes">Ver Estudantes</span>
          </a>
          <a id="btn-add_classrom"  class="elements-nav add_classrom hover-btn">
            <img  src="img/icons/add-classrom.svg" alt="adicionar Sala">
            <span class="legend l-add-salas">Cadastrar Salas ou Grupos</span>
          </a>
          <a id="btn-salas_terminal" class="elements-nav salas-terminal hover-btn">
            <img src="img/icons/code.svg" alt="Terminal e Salas">
            <span class="legend l-salas-terminal">Grupos e Terminal</span>
          </a>
        <% } else { %>
          <a id="btn-salas_terminal-treineiro" class="elements-nav salas-terminal hover-btn" href="/terminal?q=&a=<%= user[0].id_aluno %>&t=<%= user[0].id_treineiros %>&p=<%= user[0].id_professor %>">
            <img src="img/icons/code.svg" alt="Terminal e Salas">
            <span class="legend l-salas-terminal">Terminal</span>
          </a>
        <% } %>
      </ul>
    </nav>
<!-- </nav> <main>  -->
    <main>
      <!-- section-1 - MANUAL -->
      <div id="manual1" class="risco"></div>
      <section id="manual" class="container-1">
          <div class="introducao">
            <h1>Manual</h1>
            <p>Está página se trata de um trabalho de conclusão de curso (TCC), na qual a partir dela você poderá executar códigos para o meu robô, dando vida a ele. Podendo ser executado nessa plataforma códigos em javascript de acordo com o material didático para o professor, para entender melhor o funcionamento e como ensinar seus alunos a partir desse protótipo.</p>

            <ul>
              <li class="download_apostila"><a href="#" download="manual-SAR"><i class="fas fa-file"></i>Apostila</a></li>
            </ul>
          </div>
          <div class="exemplo">
            <h1>Exemplo de execução</h1>
            <div class="vincular">
              <h2>1 - Vincule seu aparelho com robô</h2>
              <pre>
                <code class="jsvascript">
      var connection = 192.168.25.204;
                </code>
              </pre>
            </div>
            <div class="executar">
              <h2>2 - Execute seus códigos</h2>
              <pre>
                <code class="jsvascript">
      var connection = 192.168.0.0;

      var robo = new Robo(connection);
      robo.move(x);
                </code>
              </pre>
            </div>
          </div>
      </section>
      <!-- section-2 - SALA -->
      <section id="salasTerminal" class="container-2 invisivel">
        <% if(!user[0].nome_treineiro) {  %>
          <div class="content C-salas">
            <div id="salas-title" class="info-inicial-salas">
              <h1>Salas</h1>
              <% if(user[0].id_professor) { %>
                <p>ATENÇÃO: Professor só aparece as salas que tem alunos cadastrados</p>
              <% } %>
              <a  href="/terminal?q=MA==&a=<%= user[0].id_aluno %>&t=<%= user[0].id_treineiro %>&p=<%= user[0].id_professor %>">
                <p>TESTAR APENAS</p>
              </a>
            </div>
            <div id="salas" class="container-salas">
            <% if(othersInfos[0] != undefined) { %>
              <script type="text/javascript">
              let getAluno = '<%= user[0].id_aluno %>',
              getTreneiro = '<%= user[0].id_treineiros %>',
              getProfessor = '<%= user[0].id_professor %>'
              </script>
              <% for(let i = 0; i < salasEgrupos.length; i++ ) { %>
                <div class="salas" onclick="terminal(getAluno, getTreneiro, getProfessor, <%= othersInfos[1].id_grupo %>)">
                  <div class="content-salas-1">
                    <h2><%= salasEgrupos[i].nome_grupo %></h2>
                    <p><%= salasEgrupos[i].nome_sala %></p>
                  </div>
                </div>
              <% } %>
            <% } else {  %>
              <div class="others-infos_salas">
                <p><strong>Caro(a) <%= user[0].nome_professor %><%= user[0].nome_aluno %></strong>, não tem registros de seus grupos.</p>
              </div>
            <% } %>
            </div>
          </div>
        <% } else { %>
          <script type="text/javascript">
          function openTerminal(){
            location.href = '/terminal?a='+idAluno+'&t='+idTreneiro+'&p='+idProfessor;
          }
          </script>
        <% } %>
      </section>
      <% if(user[0].id_professor) { %>
      <!-- section - VER ESTUDANTES -->
      <section id="ver_estudantes" class="invisivel">
        <div class="container-ver_estudantes ">
          <div class="search">
            <input id="search" type="search" class="search-box" placeholder="Pesquisar estudante" onkeyup="filter(this)"  />
            <span class="search-button">
              <span class="search-icon"></span>
            </span>
            <span class="qtd_alunos"></span>
          </div>
          <ul id="contact" class="contact">

            <% if(othersInfos) { %>
              <% for( let i = 0; i < othersInfos.length; i++ ) { %>
              <li id="<%= othersInfos[i].id_aluno %>-nome" onclick="showInfos(this)">
                <div class="contact-view" >
                  <div class="img-contact" style="background-image: url('<%= othersInfos[i].ft_perfil %>')"></div>
                  <div class="contact-discription">
                    <div id="nome_contato" class="name"><a><%= othersInfos[i].nome_aluno %></a></div>
                    <div class="others-infos"><%= othersInfos[i].nome_grupo %></div>
                  </div>
                </div>
                  <div id="extras-infos<%= othersInfos[i].id_aluno %>" class="extras-infos invisivel">
                      <div class="others-infos others-infos-extras">
                        <p><strong>Sala:</strong> <%= othersInfos[i].nome_sala %> </p>
                        <p><strong>Grupo:</strong> <%= othersInfos[i].nome_grupo %> </p>
                        <p><strong>Email:</strong>  <%= othersInfos[i].email_aluno %> </p>
                        <p><strong>Status:</strong>  <%= othersInfos[i].status_aluno %>
                        </p>
                      </div>
                  </div>
              </li>
              <% } %>
             <% } else { %>
               <div class="others-infos">
                 <p><strong>Caro(a) <%= othersInfos[i].nome_professor %></strong>, cadastre seus alunos.</p>
               </div>
              <% } %>
          </ul>
        </div>
      </section>
      <% } %>
      <% if(user[0].tipo_aluno == 'Líder') { %>
      <!-- section - ADD ESTUDANTE -->
        <section id="CadastrarEstudante" class="container-modal invisivel">
            <div class="container-forms">
              <form class="container-cadastrar" action="/lider/cadastro/aluno" method="post">
                <div class="titles-section">
                  <h1>Cadastrar Estudante</h1>
                </div>
                  <div class="input-container">
                    <label for="nome_aluno">Nome da Estudante</label>
                    <input type="text" name="nome_aluno" placeholder="Digite o nome do Estudante"  >
                  </div>
                  <div class="input-container">
                    <label for="email_aluno">Email</label>
                    <input type="email" name="email_aluno" placeholder="Digite o email do aluno"  >
                  </div>
                  <div class="input-container">
                    <div id="type_user" class="select-tipo-usuario">
                      <div class="titles-section">
                        <h2>Categoria de Estudante</h2>
                      </div>
                      <div class="input-container select_categoria" >
                        <select id="cusSelectbox" class="select-alunos" name="categoria_alunos" required>
                          <option selected disabled>Selecione uma para o Categoria</option>
                          <option value="Montador">Montador</option>
                          <option value="Programador">Programador</option>
                          <option value="Mecânico">Mecânico</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="container-buttons">
                    <button class="submit-enviar" type="submit" name="cadastrar_aluno">Cadastrar</button>
                  </div>
              </form>
             </div>
          </section>
          <% }else if(user[0].id_professor) { %>
            <!-- CADASTRAR SALAS E GRUPOS LÍDES -->
            <section id="cadastrar_sala_grupos" class="invisivel">
              <form id="form_Csala" class="container-forms salas-form" action="/professor/cadastro/salas" method="POST">
                <div class="titles-section" >
                  <legend>Cadastrar Sala</legend>
                </div>
                <div class="input-container">
                  <label for="nome_sala">Nome da Sala</label>
                  <input id="nome_sala" type="text" name="nome_sala" maxlength="8" placeholder="Digite o Nome da sala, com até 8 caracteres" >
                </div>
                <div class="container-buttons">
                  <button type="submit" class="submit-enviar">Cadastrar Sala</button>
                  <div id="btn-cadastrar_grupo" class="button-cadastrar_grupo">
                    <p>Cadastrar apenas grupo? <strong>Clique Aqui!</strong></p>
                  </div>
                </div>
              </form>
              <div id="forms_Cgrupos" class="invisivel">
                <form class="container-forms grupos-form" action="/professor/cadastro/grupo" method="post">
                  <div class="titles-section">
                    <h1>Informações do Grupo</h1>
                    <i id="btn-voltar_Csalas" class="material-icons">navigate_before</i>
                  </div><div class="input-container">
                    <label for="nome_grupo">Nome do Grupo</label>
                    <input type="text" name="nome_grupo" maxlength="8" placeholder="Digite o nome do grupo, com até 8 caracteres">
                  </div>
                <div class="titles-section">
                  <h1>Informações do Aluno Líder</h1>
                </div>
                <div class="flex-row">
                  <div class="input-container">
                    <label for="nome_aluno">Nome do Estudante</label>
                    <input type="text" name="nome_aluno" placeholder="Digite o nome do estudante">
                  </div>
                  <div class="input-container">
                    <label for="email_aluno">Email do Estudante</label>
                    <input type="email" name="email_aluno" placeholder="Digite o email do estudante">
                  </div>
                </div>
                <div class="input-container select_sala">
                  <select id="cusSelectbox" class="select-style" name="select_sala" required>
                    <option selected disabled>Selecione a sala</option>
                    <% if(salas) { %>
                      <% for(let i = 0; i < salas.length; i++) { %>
                        <option value="<%= salas[i].nome_sala %>"><%= salas[i].nome_sala%></option>
                        <% } %>
                  <% } else { %>
                    <option value="" disabled>sem registros</option>
                  <% } %>
                  </select>
                </div>
                <button type="submit" class="submit-enviar" name="cadastrar_grupo">Cadastrar</button>
              </form>
            </div>
          </section>
        <% } %>
      <!-- section - infors Editaveis -->
      <section id="config" class="invisivel">
        <h1 class="title-config">Configurações Pessoais</h1>
        <div class="flex-config">
          <div class="editar-usuario">
            <% if(user[0].nome_professor) { %>
              <div class="ft-perfil preview">
                <img  src="<%= user[0].ft_professor %>"></img>
              </div>
              <form action="/upload/fotoPerfil/professor" method="post" enctype="multipart/form-data">
            <% } else if(user[0].nome_aluno) { %>
              <div class="ft-perfil preview">
                <img  src="<%= user[0].ft_perfil %>"></img>
              </div>
              <form action="/upload/fotoPerfil/aluno" method="post" enctype="multipart/form-data">
            <% } else { %>
              <div class="ft-perfil preview">
                <img  src="<%= user[0].ft_treineiro %>"></img>
              </div>
              <form action="/upload/fotoPerfil/treineiro" method="post" enctype="multipart/form-data">
            <% } %>
               <div class="input-container">
                 <div id="dropzone">
                   <h1>Arraste sua imagem aqui ou Clique</h1>
                   <input type="file" accept="image/* " name="fotoPerfil"/>
                 </div>
               </div>
               <button type="submit" name="eviar" class="submit-enviar">Enviar Foto</button>
             </form>
          </div>
          <div class="editar-infors">
            <form action="/editar/informacoes" method="post">
              <div class="titles-section" >
                <legend>Editar</legend>
              </div>
              <div class="input-container">
                <label for="nome">Nome</label>
                <input type="text" name="nome" placeholder="Digite seu nome, para alterar" required>
              </div>
              <div class="input-container">
                <label for="nome">Email</label>
                <input type="email" name="email" placeholder="Digite seu email, para alterar" required>
              </div>
              <div class="input-container">
                <label for="Senha">Senha</label>
                <input type="password" name="senha" maxlength="8" placeholder="Digite o Nome da sala, com até 8 caracteres" required>
              </div>
              <button type="submit" class="submit-enviar btn-editar" name="cadastrar_sala">Editar</button>
            </form>
          </div>
        </div>
      </section>

    </main>
    <!-- ALERTS -->
    <div id="modalSair" class="alert alert_sair modal " >
      <h1>Ei! Já vai sair?</h1>
      <div class="content-buttons">
        <a class="btn-sair_alert" href="/sair">VOU SAIR!</a>
        <a class="btn-nao_alert" href="#" rel="modal:close">VOU FICA MAIS</a>
      </div>
   </div>
    <div id="modalAlert" class="alert invisivel" >
      <span id="alert-close" onclick="fechar(this.id, 'modalAlert')">X</span>
     <h1 id="title_alert"></h1>
     <p id="msg_alert"></p>
   </div>
    <%if(validacao) {%>
      <% for(var i = 0; i <  validacao.length; i++) {%>
        <div id="modal<%=[i]%>" class="alert" style="background:<%= validacao[i].color_background %>;">
          <span id="alert-close<%=[i]%>" onclick="fechar(this.id, 'modal<%=[i]%>')">X</span>
         <h1><%= validacao[i].titulo %></h1>
         <p ><%= validacao[i].msg %></p>
       </div>
       <%}%>
    <%}%>
    <footer>
      &copyNycolas Silva Fróes
    </footer>
    <!-- SCRIPTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script type="text/javascript" src="js/dropzone.js"></script>
    <script type="text/javascript" src="js/functions.js"></script>
    <script type="text/javascript" src="js/mask.js"></script>
    <script type="text/javascript" src="js/dashboard_acoes-menu.js"></script>
    <script type="text/javascript" src="js/dashboard_icons_menu.js"></script>
    <script type="text/javascript" src="js/terminal.js"></script>
    <script type="text/javascript" src="js/form_abrirCadastrogrupo.js"></script>
    <script type="text/javascript" src="js/selectOption.js"></script>
  </body>
</html>
