<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <title>
      SAR - Página Acesso
    </title>
    <meta charset="utf-8">
    <meta name="description" content="Sistema SAR">
    <meta name="keywords" content="HTML,CSS,JQUERY,JavaScript,EXPRESS">
    <meta name="author" content="Nycolas Silva Fróes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="img/favicon.png" />
    <link href="css/pg_acesso.css" type="text/css" rel="stylesheet">
    <link href="css/forms.css" type="text/css" rel="stylesheet">
    <link href="css/select.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kanit|Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style >
        .container-forms{
          margin-top: 0;
          margin-right: 0;
          height: 100vh;
        }
        @media screen and (max-width: 940px){
          .container-forms{
            height: 80%;
          }
        }
    </style>
  </head>
  <body>
    <div class="container-forms">
      <div id="btn-home">
        <a  href="/">
          <i class="material-icons">home</i>
        </a>
      </div>
      <div class="container-login containers">
        <form id="login"  action="/pagina_acesso/login" method="post">
          <div class="titles-section">
            <legend>LOGIN</legend>
          </div>
          <div class="input-container">
            <input type="text" id="email" name="email_logar" placeholder="Digite seu email" autofocus />
            <label for="email_usuario">Email</label>
          </div>
          <div class="input-container">
            <input type="password" name="senha_logar" id="password" placeholder="Digite sua senha" />
            <label for="password">Senha</label>
          </div>
          <div class="container-buttons">
            <input type="submit" value="Entrar" class="submit-enviar" >
            <div id="btn-cadastrar" class="button-cadastrar">
              <p>Não tem conta? <strong>Cadastre-se</strong></p>
            </div>
          </div>
        </form>
      </div><!--fim-login-->
      <div id="type_user" class="select-tipo-usuario containers">
        <div class="titles-section">
          <legend>Tipo de usuário</legend>
          <i id="btn-voltar" class="material-icons">navigate_before</i>
        </div>
        <div class="input-container select-container">
          <select id="cusSelectbox" >
            <option value="" selected disabled>Selecione um Usuário </option>
            <option value="Professor" >Professor</option>
            <option value="Treineiro" >Usuário Treineiro</option>
          </select>
        </div>
      </div>
      <div id="cadastro" class="container-cadastrar forms containers">
        <div class="titles-section">
          <legend>CADASTRAR </legend>
          <i id="btn-voltar-type" class="material-icons">navigate_before</i>
        </div>
        <form id="professor" class="primary-section" action="/cadastrar/professor" method="post">
           <div class="titles-section">
              <h1>Informação de Usuário: Professor </h1>
           </div>
           <div class="input-container">
               <input type="text" name="nome_professor" placeholder="Digite seu nome Completo"  autofocus>
               <label for="nome_professor">Nome do Professor</label>
           </div>
           <div class="input-container">
             <input type="text" name="email_professor" placeholder="Digite seu email" >
             <label for="email_professor">Email Institucional</label>
           </div>
           <div class="input-container">
                <input type="password" name="senha_professor" placeholder="Digite sua senha" >
                <label for="senha_professor">Senha</label>
            </div>
            <button type="submit" class="submit-enviar" name="cadastrar-professor">Cadastrar</button>
          </form>
          <form id="treineiro" class="primary-section" action="/cadastrar/treineiro" method="post">
             <div class="titles-section">
                <h1>Informação de Usuário: Treineiro </h1>
             </div>
             <div class="input-container">
                 <input type="text" name="nome_treineiro" placeholder="Digite seu nome Completo" autofocus >
                 <label for="nome_treineiro">Nome do treineiro</label>
             </div>
             <div class="input-container">
               <input type="text" name="email_treineiro" placeholder="Digite seu email" >
               <label for="email_treineiro">Email </label>
             </div>
             <div class="input-container">
                  <input type="password" name="senha_treineiro" placeholder="Digite sua senha" >
                  <label for="senha_treineiro">Senha</label>
              </div>
              <button type="submit" class="submit-enviar" name="cadastrar-treineiro">Cadastrar</button>
            </form>
      </div><!--fim-cadastro-->
      <%if(validacao) {%>
          <% for(var i = 0; i <  validacao.length; i++) {%>
            <div id="modal<%=[i]%>" class="alert" style="background:<%= validacao[i].color_background %>;">
              <span id="alert-close<%=[i]%>" onclick="fechar(this.id, 'modal<%=[i]%>')">X</span>
             <h1><%= validacao[i].titulo %></h1>
             <p ><%= validacao[i].msg %></p>
           </div>
           <%}%>
      <%}%>
    </div>
    <script type="text/javascript" src="js/pg_acesso.js"></script>
    <script type="text/javascript" src="js/selectOption_pg_acesso.js"></script>
</body>
</html>
