<!Doctype html>
<html>
<head>
  <title>SAR - Terminal</title>
  <link rel="stylesheet" href="css/terminal.css">
  <link rel="stylesheet" href="css/alert.css">
  <link rel="stylesheet" href="css/normalize.css">
  <link href="https://fonts.googleapis.com/css?family=Kanit|Source+Sans+Pro" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">

  <link rel="stylesheet" href="packs/CodeEditor/lib/codemirror.css">
  <link rel="stylesheet" href="packs/CodeEditor/theme/monokai.css">
  <link rel="stylesheet" href="packs/CodeEditor/theme/neat.css">
  <link rel="stylesheet" href="packs/CodeEditor/addon/scroll/simplescrollbars.css">
  <link rel="stylesheet" href="packs/CodeEditor/addon/display/fullscreen.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="packs/CodeEditor/lib/codemirror.js"></script>
  <script src="packs/CodeEditor/addon/selection/active-line.js"></script>
  <script src="packs/CodeEditor/addon/edit/matchbrackets.js"></script>
  <script src="packs/CodeEditor/addon/scroll/simplescrollbars.js"></script>
  <script src="packs/CodeEditor/addon/display/fullscreen.js"></script>
  <script src="packs/CodeEditor/addon/display/rulers.js"></script>
  <script src="packs/CodeEditor/mode/javascript/javascript.js"></script>

  <script type="text/javascript" src="js/codeeditor.js"></script>
</head>
<body>
  <header>
    <div class="container-header">
      <div class="title-header">
        <img class="logo-header" src="img/logo_svg.svg" alt="Logo SAR"></img>
        <h1>SAR - TERMINAL DE CÓDIGOS</h1>
      </div>
      <div class="config">
        <%  if(user[0].nome_aluno){  %>
          <a href="/dashboard_grupo">
            <i id="btn-voltar_salas" class="material-icons">navigate_before</i>
          </a>
          <a href="/sair_grupo">
            <img src="img/icons/exit.svg" class="btn-sair" alt="sair"></img>
          </a>
        <% } else { %>
          <a href="/dashboard">
            <i id="btn-voltar_salas" class="material-icons">navigate_before</i>
          </a>
          <a href="#modalSair" rel="modal:open">
            <img src="img/icons/exit.svg" class="btn-sair" alt="sair"></img>
          </a>
        <% } %>
      </div>
    </div>
  </header>
  <main>
    <section>
      <div id="terminal-CodeEditor" class="content C-terminal">
        <!--CODE EDITOR - REFERENCES CODEMIRROR-->
        <div class="titles-section">
          <h1>Execute seus códigos</h1>
        </div>
        <div id="container-code" class="Code-editor">
          <textarea id="codeeditor"class="runnable js"></textarea>
          <!-- <div id="notifications">
            <div class="title-notific">
              <h1 id="errorNotifica"> > Notificações</h1>
            </div>
            <div id="notes"></div>
          </div> -->
        </div>
        <% if(!user[0].nome_treineiro) { %>
        <div class="container-contatos">
          <h1>CONECTADOS</h1>
          <% if(conectados) { %>
              <% for(let i = 0; i < conectados.length; i++) { %>
                <% if(conectados[i].status_aluno == 'on') { %>
                  <div class="contatos">
                    <span class="status <%= conectados[i].status_aluno %>"></span>
                    <img src="<%= conectados[i].ft_perfil %>" alt="ft-perfil">
                    <p><%= conectados[i].nome_aluno %></p>
                  </div>
                <% }else{ %>
                  <div class="contatos contatos_hide">
                    <span class="status <%= conectados[i].status_aluno %>"></span>
                    <img src="<%= conectados[i].ft_perfil %>" alt="ft-perfil">
                    <p><%= conectados[i].nome_aluno %></p>
                  </div>
              <% } } %>
          <% }else{ %>
            <div class="others-infos">
              <p>Não tem alunos online</p>
            </div>
            <% } %>
          <div class="btn-verAll">
            <button type="button" onclick="verAll()">VER OF</button>
          </div>
          <script type="text/javascript">
              $('.contatos_hide').hide();
              function verAll(){
                $('.contatos_hide').animate({
                  height: 'show'
                });
              }
          </script>
        </div>
        <% } %>
      </div>
    </section>
  </main>
  <script type="text/javascript" src="js/alert.js"></script>
  <script type="text/javascript" src="js/sar.js"></script>
</body>
</html>
